@model BookClub


@{
    ViewData["Title"] = "BookClub";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">Club: @Model.ClubName</h2>
                </div>
                <div class="card-body">
                    <p class="card-text">Location: @Model.Location</p>
                    <p class="card-text">Description: @Model.Description</p>
                    @{List<Genre> genres = Model.Genres.ToList();}
                    @{string genreText = "";}
                    @if (genres.Count == 0)
                    {
                        genreText = "No genres added.";
                    } else {
                                    for (int i = 0; i < genres.Count; i++)
                        {
                            genreText += (genres[i].GenreName);
                            if (i < genres.Count - 1)
                            {
                                genreText += ", ";
                            }
                        }
                    }
                    <p class="card-text">Genres: @genreText</p> 
                    <p class="card-text">Creator:@Model.SampleUser</p>
                    <p class="card-text">Currently Reading: <!--TODO: add prop here--></p>
                    <p class="card-text">Members: @Model.Members</p>
                    <!-- Add other properties as needed -->
                </div>

                <div class="card-footer">

                    <form asp-controller="BookClub" asp-action="Join" method="post">
                        <input type="hidden" name="id" value="@Model.Id" class="btn btn-primary" />
                        <button type="submit">Join</button>
                    </form>

                    <a asp-controller="BookClub" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">
            Edit
        </a>
                    <a asp-controller="Genre" asp-action="AddClub" asp-route-id="@Model.Id" class="btn btn-primary">
                        Add Genre
                    </a>

                    <a asp-controller="Search" asp-action="Index" asp-route-id="@Model.Id" class="btn btn-primary">
                        Add Book to BookClub
                    </a>
                    <!-- Add other actions as needed -->
                </div>
            </div>
        </div>
    </div>
</div>
