@model List<liftoff_jamey_1.Models.BookClub>

@{

}

<h1>Book Clubs</h1>

<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>ClubName</th>
			<th>Location</th> 
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var bookclub in Model)
		{
			<tr>
				<td>@bookclub.Id</td>
				<td><a asp-controller="BookClub" asp-action = "Detail" asp-route-id="@bookclub.Id">@bookclub.ClubName</a>"</td>
				<td>@bookclub.ClubName</td>
				<td>@bookclub.Location</td>
			</tr>
		}
	</tbody>
	
</table>